{% extends 'base.html' %}

{% block title %}About{% endblock title %}
{% block head %}{% endblock head %}
{% block body %}
  <div class="container">
    <h1>About Bikini Bottom</h1>
    <img src="/media/base/bikini_bottom_city.png" alt="Bikini Bottom" width="400px">
    <p>Bikini Bottom is an underwater city that serves as the main setting of SpongeBob SquarePants. Located at the bottom of the Pacific Ocean, it is where the series' main characters live, and where most of the episodes take place. Bikini Bottom consists of various businesses, including restaurants, stores, and manufacturers. This city has a stable economy, a balanced education and health systems, a structured government, and a less than competent law enforcement system. There are even stadiums, amusement parks, and other recreational facilities.</p>

    <h3>Bikini Bottom Tourism Project</h3>
    <p>This is a tutorial course project by <b>Geocourse.id</b> for WebGIS beginner developers. It provide some basic functionalities of WebGIS development such as displaying webmap, adding spatial data, managing spatial data and giving specific information about spatial objects. This part is the final section of <i>Full-stack WebGIS course</i> by creating a complete webgis using Python, Django, GeoDjango, Leaflet.js and Bootstrap.</p>
  </div>
{% endblock body %}