{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load leaflet_tags %}

{% block title %}Propose facility{% endblock title %}
{% block head %}
  {% leaflet_js plugins="forms" %}
  {% leaflet_css plugins="forms" %}
{% endblock head %}
{% block body %}
  <div class="container">
    {% if form.operator.value == request.user.id and form.status.value == 'complete' %}
    <h1>CHANGE YOUR FACILITY STATUS</h1>
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{form | crispy}}
      <button type="submit" class="btn btn-outline-primary">SUBMIT</button>
    </form>
    {% else %}
    <h1>You are not permitted ⛔</h1>
    {% endif %}
  </div>
{% endblock body %}