{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load leaflet_tags %}
{% load static %}

{% block title %}Complaint infrastructure{% endblock title %}
{% block head %}
  {% leaflet_js plugins="forms" %}
  {% leaflet_css plugins="forms" %}

  <style>
    .leaflet-container {
      width:  100%;
      height: 90vh;
    }
  </style>
{% endblock head %}
{% block body %}
  <script src="{% static 'leaflet/leaflet.ajax.js' %}"></script>

  <div class="container">
    {% if profile.count == 0 %}
    <h1>Please complete your account profile to report our public infrastructures</h1>
    <a href="{% url 'profile' %}" class="btn btn-primary">Complete your profile</a>
      
    {% else %}

    <h1>COMPLAINT PUBLIC INFRASTRUCTURE HERE</h1>
    <div class="row">
      <div class="col-8">
        {% leaflet_map "map" callback="window.map_init" %}
      </div>
      
      <div class="col-3">
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{form | crispy}}
          <button type="submit" id="chosen_location" name="chosen_location" value="" class="btn btn-outline-primary">SUBMIT</button>
        </form>
      </div>
    </div>

    {% endif %}
  </div>

  <script>
    function map_init (map, options) {
      const infrastructure = L.geoJSON.ajax("{% url 'geo_infrastructure' %}", {
        onEachFeature: function (feature, layer) {
          layer.on('click', function(){
            const infrastructureId = feature.id;
            document.getElementById('id_infrastructure').value = infrastructureId
          })

          // Layer style
          switch (feature.properties.types) {
            case 'Highway':
              layer.setStyle({color: 'maroon', weight: 7})
              break;
            case 'Main Road':
              layer.setStyle({color: 'red', weight: 5})
              break;
            case 'Local Road':
              layer.setStyle({color: 'black', weight: 3})
              break;
            case 'Residential Road':
              layer.setStyle({color: 'black', weight: 1.5})
              break;
            case 'Inter-city Railway':
              layer.setStyle({color: 'black', weight: 3, dashArray: '10, 10'})
              break;
            case 'Local Railway':
              layer.setStyle({color: 'black', weight: 2, dashArray: '10, 10'})
              break;
            case 'Canal':
              layer.setStyle({color: 'blue', weight: 2})
              break;
            case 'Sewer':
              layer.setStyle({color: 'blue', weight: 2, dashArray: '10, 10'})
              break;
            case 'Power Line':
              layer.setStyle({color: 'orange', weight: 2, dashArray: '10, 10'})
              break;
            case 'Water Pipeline':
              layer.setStyle({color: 'cyan', weight: 2, dashArray: '10, 10'})
              break;
            case 'Telecom Line':
              layer.setStyle({color: 'brown', weight: 2, dashArray: '10, 10'})
              break;
            default:
              layer.setStyle({color: 'grey', weight: 1})
              break;
          };

          // Layer popup
          layer.bindPopup(
            `
              <b>${feature.properties.name}</b><br>
              <span>${feature.properties.types}</span>
            `
          )
        }
      });

      marker = L.marker([11.60, 165.39], {draggable:'true'});
      marker.on('dragend', function(){
        const longitude =  marker.getLatLng().lng
        const latitude = marker.getLatLng().lat
        document.getElementById('chosen_location').value = `POINT(${longitude} ${latitude})`
        document.getElementById('id_specific_location').value = `POINT(${longitude} ${latitude})`
        map.closePopup()
      })

      // MAP VIEW
      infrastructure.addTo(map);
      marker.addTo(map);
    }
  </script>
{% endblock body %}