<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="text-muted">© 2023 Ahmad Zaenun Faiz</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="https://twitter.com/zaenun_faiz/"><img src="/media/base/twitter-icon-grey.png" alt="twitter" style="height: 24;"></a></li>
      <li class="ms-3"><a class="text-muted" href="https://www.instagram.com/ahmadzaenunfaiz/"><img src="/media/base/instagram-icon-grey.png" alt="instagram" style="height: 24;"></a></li>
      <li class="ms-3"><a class="text-muted" href="https://id.linkedin.com/in/ahmad-zaenun-faiz/"><img src="/media/base/linkedin-icon-grey.png" alt="linkedin" style="height: 24;"></a></li>
    </ul>
  </footer>
</div>