{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Enter New Password{% endblock title %}

{% block head %}{% endblock head %}

{% block body %}
<div class="container page mt-4">
  <h1>Enter new password</h1>
  <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
  <form action="" method="post">
    {{form | crispy}}
    {% csrf_token %}
    <input type="submit" value="Change my password" class="btn btn-success">
  </form>
</div>
{% endblock body %}